NEXT_PUBLIC_SUPABASE_URL=\nNEXT_PUBLIC_SUPABASE_ANON_KEY=\nSUPABASE_SERVICE_ROLE=\nSTRIPE_SECRET_KEY=\nSTRIPE_WEBHOOK_SECRET=\nSTRIPE_PRICE_PRO=price_xxx\nSTRIPE_PRICE_PREMIUM=price_xxx\nSTRIPE_PRICE_CREDIT=price_xxx\nREPLICATE_API_TOKEN=\nNEXT_PUBLIC_APP_URL=http://localhost:3000\n